* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  flex-wrap: wrap;
  width: 80%;
  height: 100vh;
  margin: 30px auto;
}
.container .box {
  position: relative;
  height: 400px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  transition: 1s;
}
.container .box:hover {
  transform: translateY(-15px);
}
.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, pink, red);
  height: 100%;
  width: 100%;
}
.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, pink, red);
  height: 100%;
  width: 100%;
  filter: blur(30px);
}
.container .box:nth-child(2):after,
.container .box:nth-child(2):before {
  background: linear-gradient(
    to right bottom,
    rgb(77, 255, 0) 30%,
    rgb(0, 30, 255)
  );
}
.container .box:nth-child(3):after,
.container .box:nth-child(3):before {
  background: linear-gradient(
    to right bottom,
    rgb(0, 238, 255) 30%,
    rgb(255, 0, 247)
  );
}

.container .box span {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  background: rgba(0, 0, 0, 0.475);
  z-index: 2;
}
.container .box span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.105);
}
.box .content {
  position: relative;
  margin-top: 25%;
  line-height: 1.5em;
  z-index: 10;
  padding: 15px;
}
.box .content h2 {
  font-size: 2rem;
  line-height: 2em;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.box .content button {
  margin: 25px 0;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1.1em;
}
.box .content button:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.container .sign {
  position: absolute;
  bottom: 15px;
  right: 5%;
}
